/* Scrollbar styling */
.product-container {
    overflow: hidden; /* Hide overflow on the container */
}

.product-list {
    height: 100%;
    overflow-y: auto; /* Enable vertical scrolling */
    padding-right: 10px; /* Add some padding for the scrollbar */
}

/* Optional: Customize scrollbar appearance */
.product-list::-webkit-scrollbar {
    width: 2px;
}

.product-list::-webkit-scrollbar-track {
    background: #292929;
}

.product-list::-webkit-scrollbar-thumb {
    background: #1976ed;
}